<br>
<h1 class="text-center text-white">Result</h1>
<br>
<p class="text-center text-white"> <%= @response %> </p>
<br>
<div class="text-center">
  <a href="/new">Play again</a>
</div>
<br>
<br>
<h6 class="text-center text-white">your score <%= params[:answer].length * params[:answer].length %></h6>
